{%extends "layout.html"%}

{%block body%}


        {%for ISBN,Title,Author,Year in results%}
       
        <!-- <ul>
            <li><a href="{{url_for('lookup',searchElement=ISBN)}}">ISBN : {{ISBN}}<br>Title : {{Title}}<br>Author: {{Author}}<br>Year: {{Year}}</a></li>
        </ul> --> 
        <div class = "container">

            <div class = "row">
                <div class = "col">
                    <ul>
                        <li><a href="{{url_for('lookup',searchElement=ISBN)}}">ISBN : {{ISBN}}<br>Title : {{Title}}<br>Author: {{Author}}<br>Year: {{Year}}</a></li>
                    </ul>
                </div>
                
            </div>
        </div>
        {%endfor%}

        

{% endblock %}